nav{
    background-color: coral;
}
nav ul {
    margin-right: 10%;
}
 li a{
    color: black;
    font-weight: bolder;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }